<div ng-show="cc.userCall" class="col-lg-9">
    <h2>Call with user {{cc.userCall.username}}</h2>
    <div class="row">
        <div class="col-md-9">
            <div id="videoBig">
                <video id="videoOutput" autoplay width="640px" height="480px"
                       poster="/img/webrtc.png"></video>
            </div>
            <div id="videoSmall">
                <video id="videoInput" autoplay width="240px" height="180px"
                       poster="/img/webrtc.png"></video>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div ng-switch on="cc.onCall">
                    <div ng-switch-when="false">
                        <a class="btn btn-success" ng-click="cc.call(cc.userCall)">
                            <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                        </a>     
                    </div>
                    <div ng-switch-when="true">
                        <a class="btn btn-danger" ng-click="cc.stopCall()">Stop</a>        
                    </div>                 
                </div>
            </div>
            <div class="panel panel-default" ng-show="cc.onCall">  
                <div class="panel-heading">
                    <div class="panel-title">Accessories</div>      
                </div>
                <div class="panel-body scrollable">
                    <div class="row" ng-repeat="overlay in cc.availableOverlays">    
                        <img style="cursor: pointer" ng-class="cc.getOverlayClass(overlay)" src="{{overlay.url}}" ng-click="cc.toggleOverlay(overlay)">             
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>